@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.user-logon{
  background-color: #D8D7FF;
}

nav.navbar{
  background-color: #BBA0FB;
}

ul.comment-list{
  padding-left: 0px;
}
.comment-content p{
  margin-left: 10px;
  width: 50%;
  list-style-position: outside;
}

.comment-username{
  font-weight: bold;
}

.comment-title{
  float: left;
  font-size: 16px;
}

.comment-title a{
  display: inline;
  text-align: left;
}

.comment-link{
  margin-bottom: 10px;
}

.post-link{
  font-size:20px;
}

.post-url{
  font-size: 12px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}